# Kongライセンスデータ
# KONG_LICENSE_DATA='{"license":{"payload":{ ... }}}'
KONG_LICENSE_DATA='{"license":{"payload":{"admin_seats":"5","customer":"automation","dataplanes":"100","license_creation_date":"2026-07-02","license_expiration_date":"2026-08-20","license_key":"ASDASDASDASDASDASDASDASDASD_a1VASASD","product_subscription":"Konnect Enterprise","support_plan":"None"},"signature":"891c3c55a2f98626fd6d2a366743aa4adb1f8b45b1055ce3a02ecae60b82363982ed8978b350757e73f208771cb438d57bd858b6e4ce20fdc8901bf04c35026d","version":"1"}}'